.b24-form-control {
    width: 100%;
    max-width: 305px;
    height: 40px;
    background: #d9d3c533;
    margin-bottom: 7px;
    display: block;
    border-radius: 10px;
    padding: 5px 20px;
    font-family: 'AGLettericaC';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #514946;
    opacity: 0.5;
}
.b24-form-control:placeholder{
    color: #9C8D88;
    letter-spacing: 0.5em;
}

.b24-form-btn{
    background: #494E54;
    border-radius: 10px;
    height: 50px;
    max-width: 240px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'AGLettericaC';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 10px auto 0 ;
    transition: opacity .3s;
    outline: none;
    
    
}

.b24-form-btn:hover{
    opacity: .8;
}

.b24-form-btn:focus-visible, .b24-form-btn:focus{
    outline: none;
}

@media (max-width: 1000px) and (max-height: 500px) {
   .b24-form-control {
        height: 35px!important;
        font-size: 12px;
    }
    .b24-form-header-title{
        font-size: 20px;
        line-height: 24px
    }
}