@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.has-text-align-left {
  @apply text-left;
}

.has-text-align-center {
  @apply text-center;
}

.has-text-align-right {
  @apply text-right;
}

.has-large-font-size {
  @apply text-4xl;
}

.alignfull {
  @apply w-screen relative;

  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  right: 50%;
}

.wp-block-image img {
  @apply max-w-full mt-2;
}
.wp-block-image.aligncenter {
  @apply text-center;
}
.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
  @apply w-full;
}
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image .aligncenter,
.wp-block-image.is-resized {
  @apply table ml-0 mr-0;
}
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image .aligncenter > figcaption,
.wp-block-image.is-resized > figcaption {
  @apply table-caption;

  caption-side: bottom;
}

.wp-block-image .alignleft {
  @apply float-left mr-4;
}
.wp-block-image .alignright {
  @apply float-right ml-4;
}
.wp-block-image .aligncenter {
  @apply m-auto;
}

.wp-block-button a,
.wp-block-file a.wp-block-file__button {
  @apply bg-blue-500 text-white no-underline py-2 px-4;
}

.wp-block-button a:hover,
.wp-block-file a.wp-block-file__button:hover {
  @apply bg-blue-400 cursor-pointer;
}

.wp-block-file a:first-of-type {
  @apply mr-4;
}

.wp-block-cover {
  @apply flex flex-wrap justify-center items-center bg-cover bg-center overflow-hidden;

  min-height: 430px;
}

.wp-block-verse {
  @apply font-sans;
}

.wp-block-media-text {
  @apply grid grid-cols-2 gap-4;
}

@font-face {
  font-family: "Silently";
  src: local("Silently"),
    url("../public/fonts/Silently/Silently.ttf") format("ttf"),
    url("../public/fonts/Silently/Silently.otf") format("OpenType");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AGLettericaC";
  src: local("AGLettericaC"),
    url("../public/fonts/AGLettericaC/AGLettericaC.woff2") format("woff2"),
    url("../public/fonts/AGLettericaC/AGLettericaC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: "Jonathan";
  src: local("Jonathan"),
    url("../public/fonts/Jonathan/Jonathan-Regular.woff2") format("woff2"),
    url("../public/fonts/Jonathan/Jonathan-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.image-cover {
  /* filter: opacity(0.5); */
  object-fit: cover;
}

/* Установленые картинки начало */
@font-face {
  font-family: "icomoon";
  src: url("../public/fonts/icomoon.eot?9nvd4n");
  src: url("../public/fonts/icomoon.eot?9nvd4n#iefix")
      format("embedded-opentype"),
    url("../public/fonts/icomoon.ttf?9nvd4n") format("truetype"),
    url("../public/fonts/icomoon.woff?9nvd4n") format("woff"),
    url("../public/fonts/icomoon.svg?9nvd4n#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Line-2:before {
  content: "\e900";
}
.icon-swipe:before {
  content: "\e901";
}
.icon-logo:before {
  content: "\e902";
  color: #494e54;
}
.icon-swipeUpDown:before {
  content: "\e903";
}
.icon-telephone:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-left:before {
  content: "\e908";
}
.icon-right:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90a";
}
.icon-comma:before {
  content: "\e90b";
}
.icon-edite:before {
  content: "\e90c";
}
.icon-bottomArow:before {
  content: "\e90d";
}
.icon-logoIcon:before {
  content: "\e90e";
}
.icon-romb:before {
  content: "\e90f";
}
.icon-fullScreen:before {
  content: "\e910";
}
.icon-play:before {
  content: "\e90f";
}
/* Установленые картинки конец */
.page-content {
  height: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}
/* для того чтобы фото на main разтягивались */
.page-content span {
  width: 100% !important;
  height: 100% !important;
}
.verticalLine {
  position: relative;
}
/* .verticalLine::before {
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  right: 0;
  background: #d9d3c5;
  top: 50%;
  transform: translateY(-50%);
}
.verticalLine::after {
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  left: 0;
  background: #d9d3c5;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-height: 754px) and (orientation: landscape) {
  .verticalLine::before {
    height: 70%;
  }
  .verticalLine::after {
    height: 70%;
  }
} */

html,
body,
#__next {
  height: 100%;
  overscroll-behavior: none;
}

.highcharts-value {
  color: #cd8b7d;
  font-size: 28px;
  line-height: 37px;
  fill: #cd8b7d;
  letter-spacing: 0;
  /* stroke-width: 0; */
}

.highcharts-label-box {
  font-weight: 400;
  color: #494e54;
  font-family: "AGLettericaC";
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 16px;
  color: #494e54;
  fill: #494e54;
}

.highcharts-data-label-connector {
  stroke-dasharray: 5;
  stroke-dashoffset: 40;
  stroke: #494e54;
  opacity: 0.25;
}

@media (max-width: 992px) {
  .highcharts-label-box {
    font-size: 11px;
  }

  .highcharts-value {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .highcharts-label-box {
    font-size: 14px;
  }

  .highcharts-value {
    font-size: 28px;
  }
}

@media (max-width: 755px) {
  .highcharts-label-box {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .highcharts-label-box {
    font-size: 10px;
  }
  .highcharts-value {
    font-size: 22px;
  }
}
@media (max-width: 380px) {
  .highcharts-label-box {
    font-size: 9px;
    letter-spacing: 0.15em;
  }

  .highcharts-value {
    font-size: 20px;
  }
}

.appear {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hidden {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.appearSlidesPhoto {
  opacity: 1;
  /* transition: opacity 0.3s ease; */
}

.hiddenSlidesPhoto {
  opacity: 0;
  /* transition: opacity 0.3s ease; */
}

.modal-open {
  overflow: hidden;
}

.b24-form-header{
  display: none;
}

.b24-form-padding-side.b24-form-content{
  padding: 20px 0 20px;
}

.b24-form{
  width: 100%;
  max-width: 93%;
}

.b24-form-btn {
  background: #494E54!important;
  max-width: 188px;
  margin: 0 auto!important;
  display: block!important;
  min-height: 40px!important;
  padding: 10px!important;
}

.b24-form-control-string .b24-form-control{
  height: 48px!important;
}

.b24-form-control-icon-after .b24-form-control{
  background: #9C8D8825;
border-radius: 10px!important;
padding-left: 15px!important;
color: #494E54!important;
}

.b24-form-control-string .b24-form-control-label{
  left: 15px!important;
  font-family: "AGLettericaC"!important;
  font-size: 10px!important;
line-height: 12px!important;
letter-spacing: 0.5em!important;
text-transform: uppercase!important;
color: #9C8D88!important;
opacity: 0.5!important;
}

.b24-form-control:focus+.b24-form-control-label{
  font-size: 10px!important;
line-height: 12px!important;
}

.b24-form-wrapper.b24-form-border-bottom{
  border: none!important;
}
.b24-form-success .b24-form-state-text p{
  font-family: "AGLettericaC"!important;
}
.b24-form-state-container .b24-form-success{
  background: #ddd!important;
}

@media (max-width: 1440px) {
  .b24-form{
    max-width: 93%;
  }
}

.b24-form-state-container .b24-form-loader, .b24-form-state.b24-form-success, .b24-form-state {
  display: none!important;
}

.b24-form-wrapper.b24-from-state-on .b24-form-state-container{
  display: none!important;
}

.b24-form-header-title, .b24-form-header-description{
  color: #494E54!important;
}


.b24-form-control {
  width: 100%;
  max-width: 605px;
  height: 40px;
  background: #d9d3c533;
  margin-bottom: 7px;
  display: block;
  border-radius: 10px;
  padding: 5px 20px;
  font-family: 'AGLettericaC';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #514946;
  opacity: 0.5;
}
.b24-form-control:placeholder{
  color: #9C8D88;
  letter-spacing: 0.5em;
}

.b24-form-btn{
  background: #494E54;
  border-radius: 10px;
  height: 50px;
  max-width: 240px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: 'AGLettericaC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 10px auto 0 ;
  transition: opacity .3s;
  outline: none;
  
  
}

.b24-form-btn:hover{
  opacity: .8;
}

.b24-form-btn:focus-visible, .b24-form-btn:focus{
  outline: none;
}
.b24-form{
  display: none!important;
  max-width: 500px;
  margin: 0 auto;
  z-index: 20!important;
  position: fixed!important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.b24-form.shown {
  display: block!important;
}
.b24-form-padding-side.b24-form-content {
  padding: 20px 15px;
}

.b24-form-header{
  display: block
}

@media (max-width: 1000px) and (max-height: 400px) {
  .b24-form-control-string .b24-form-control {
      height: 35px!important;
      font-size: 12px!important;
  }

  .b24-form-field{
    margin-bottom: 10px!important;
  }
  .b24-form-header-title{
      font-size: 18px!important;
      line-height: 22px!important;
      margin-bottom: 0px!important;
  }

  .b24-form-header-description{
    margin-bottom: 0!important;
    font-size: 10px!important;
  }

  .b24-form-btn{
    height: 30px!important;
    min-height: 30px!important;
    font-size: 10px!important;
  }

  .b24-form-padding-side.b24-form-content {
    padding: 10px 15px!important;
}
}